* { border: 1px solid red;}
img {
    max-width: 100% !important;
}
h1 span {
    color: #1ca1c8;
}
section {
    z-index: 1 !important;
}
.logo {
    max-width: 200px !important;
}
.navbar {
    font-family: "Poppins", sans-serif !important;
    font-weight: 400;
    font-style: normal;
    .nav-link.active {
        color: #6b0b7c !important;
    }
}

.offcanvas {
    img {
        max-width: 200px !important;
    }
    a {
        display: block;
        width: 100%;
        color: #0a0a0a;
        text-decoration: none;
    }
    .active {
        color: #6b0b7c !important;
    }
    a:hover {
        color: #1ca1c8 !important;
    }
}
.button {
    background: linear-gradient(white, white) padding-box,
          linear-gradient(to right, #21b4e0, #6b0b7c) border-box;
    border-radius: 10px;
    border: 3px solid transparent;
}

.big-letter {
    font-family: "Poppins", sans-serif !important;
    font-size: 30rem;
    font-weight: 800;
    line-height: .95;
    color: #eceff4;
    img {
        position: absolute;
        top: 50%;
        left: 25px;
        transform: translate(-50%, -50%);
        max-width: 100px !important;
    }
    img.tri {
        top: 40%;
        right: 0;
        left: auto;
        scale: 1;
    }
}
.big-letter.bigger {
    font-size: 35rem;
    img.tri {
        right: -15%;
        scale: .8;
    }
}

.texts {
    font-size: 40px;
    color: #000;
    display: block;
    inset: 50% auto auto 50%;
    font-weight: 500;
    display: inline;
    span {
        font-weight: 400;
        display: block;
        font-size: 24px;
    }
}

.hero .container-fluid {
    z-index: 1;
    min-height: 600px;
    position: relative;
    font-family: "Poppins", sans-serif !important;
    z-index: 5; 
    h1 {
        background: linear-gradient(90deg, #6b0b7c, #21b5e0);
        -webkit-background-clip: text;
                background-clip: text;
        -webkit-text-fill-color: transparent;
        font-size: 4rem;
        line-height: .95;
    }
}
.hero {
    z-index: 1;
    .image {
        display: block;
    }
    .image:nth-child(5) {
        top: 45%;
        left: 48%;
        z-index: 6;
    }
    .image:nth-child(4) {
        top: 12%;
        left: 47%;
    }
    .image:nth-child(3) {
        bottom: 35%;
        right: 30%;
        scale: .75;
    }
    .image:nth-child(2) {
        top: 20%;
        right: 10%;
    }
    .image:nth-child(1) {
        bottom: 50%;
        left: 5%;
        scale: .75;
    }
}
.hero .container-fluid::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: block;
    background: transparent url('./Layer117.png') no-repeat bottom center / 100%;
    z-index: -1 !important;
}

.float-img {
    transform: translate(-50%, -50%);
    scale: .7;
    animation: 100ms ease-in;
}
.float-img:hover {
    scale: .65;
}
.float-img:nth-child(2) {
    top: 25px;
    right: 0;
}
.float-img:nth-child(3) {
    top: 25px;
    left: 40%;
}
.float-img:nth-child(4) {
    top: 12%;
    left: 10%;
}
.float-img:nth-child(5) {
    top: 30%;
    left: 0;
}
.float-img:nth-child(6) {
    bottom: 10%;
    left: 10%;
}

.about {
    ol {
        list-style-type: none;
	    counter-reset: li;
        padding: 0 !important;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 25px 15px;
        height: auto;
        li::before {
            counter-increment: li;
            content: counter(li, decimal-leading-zero);
            background: linear-gradient(90deg, #6b0b7c, #21b5e0);
            -webkit-background-clip: text;
            background-clip: text;
            -webkit-text-fill-color: transparent;
            margin-right: 20px;
            font-size: 3rem;
            font-weight: 700;
        }
        li span {
            width: 100%;
            display: inline-block;
        }
    }
    .elem:nth-child(1) {
        top: -10%;
        right: 10%;
    }
    .elem:nth-child(2) {
        top: -30%;
        right: 5%;
    }
    .container-xl {
        position: relative;
        z-index: 1;
        div:nth-child(2)::before {
            width: 125%;
            height: 150%;
            content: ' ';
            display: block;
            background-color: transparent;
            position: absolute;
            inset: -25% -15% auto auto;
            rotate: -10deg;
            border-radius: 100px;
            z-index: 1;
            box-shadow: -35px 33px 65px -30px rgba(79,79,79,.15);
        }
    }
}

.member {
    position: relative;
    .card {
        aspect-ratio: 4/2;
        width: 300px;
        display: grid;
        place-items: center;
        img {
            max-width: 75% !important;
        }
    }
}
.member::after {
    content: ' ';
    position: absolute;
    inset: 10px -40px auto auto;
    width: 100%;
    height: 150px;
    background: url('./dotted.png') no-repeat center right / contain;
}

.solution {
    position: relative;
    .elem:nth-child(1) {
        top: 35%;
        right: -5%;
        scale: .95;
    }
    .elem:nth-child(2) {
        bottom: -10%;
        left: 65%;
        scale: 1.4;
        rotate: -20deg;
    }
    .container-xl .elem {
        scale: 1.5;
        rotate: 62deg;
        left: calc(50% + 200px);
    }
    .card {
        background-color: #efeff0;
        border: 0 !important;
        padding: 0 !important;
        border-radius: 20px !important;
        img {
            border-radius: 20px 20px 50% 50%;
            aspect-ratio: 5/4;
        }
        .img {
            position: relative;
            a {
                width: 35px;
                height: 35px;
                display: block;
                position: absolute;
                bottom: 0;
                left: 50%;
                transform: translate(-50%, 50%);
                display: grid;
                place-items: center;
                background-color: #6b0b7c;
                color: #fff !important;
                z-index: 10;
            }
        }
    }
    .owl-carousel .owl-stage-outer {
        overflow-y: visible;
        height: calc(100% + 25px) !important;
        transition: all 300ms ease;
    }
    .item:hover {
        transform: translateY(25px);
        .img::after {
            content: '';
            position: absolute;
            inset: 0 0 auto auto;
            width: 100%;
            height: 100%;
            border-radius: 20px 20px 50% 50%;
            background-color: rgba(72, 7, 82, .5);
        }
        .img a {
            background-color: #1ca1c8;
        }
    }
}

.solution::after {
    content: ' ';
    position: absolute;
    inset: -10% 10% auto auto;
    width: 100%;
    height: 100px;
    background: url('./dot2.png') no-repeat center right / contain;
}

.why-us {
    .elem:nth-child(4) {
        top: 10%;
        left: 25%;
    }
    .elem:nth-child(3) {
        bottom: 5%;
        left: 50%;
    }
    .elem:nth-child(2) {
        top: 30%;
        right: 0;
    }
    .card {
        aspect-ratio: 1;
        background-color: transparent !important;
        border: 0 !important;
        div {
            aspect-ratio: 1;
            position: relative;
            strong::before {
                content: " ";
                width: 10px;
                height: 40px;
                background: rgb(100,24,131);
                background: linear-gradient(0deg, rgba(100,24,131,1) 0%, rgba(76,78,161,1) 50%, rgba(62,123,188,1) 100%);
                position: absolute;
                inset: 15% auto auto 0;
                transform: translateY(-50%);
            }
            span.counter {
                color: #ccc;
                position: absolute;
                inset: auto 0 -20px auto;
                font-size: 65px;
            }
        }
        
    }
}


.digitech {
    .elem:nth-child(3) {
        top: -12% !important;
        right: -8%;
        z-index: -1;
        scale: .65;
    }
    .elem:nth-child(2) {
        top: -15% !important;
        left: 0;
        z-index: -1;
    }
    .elem:nth-child(4) {
        top: 25%;
        right: 0;
        z-index: 5;
        scale: .75;
        box-shadow: -20px 20px 20px -20px rgba(117,117,117,.1);
    }
    .elem:nth-child(5) {
        top: 75%;
        left: -8%;
    }
    .container-xl {
        position: relative;
        z-index: 4;
        div:nth-child(2)::before {
            width: 75%;
            height: 100%;
            content: ' ';
            display: block;
            background-color: transparent;
            position: absolute;
            inset: 2.5% 40% auto auto;
            rotate: -103deg;
            border-radius: 100px;
            z-index: -4;
            box-shadow: -20px 20px 20px -20px rgba(117,117,117,.1);
        }
    }
    .big-letter {
        line-height: .45;
        z-index: -1;
        margin-left: -25px;
    }
}

.digitech.career {
    .big-letter {
        font-size: 20rem;
        line-height: .7;
        z-index: -1;
        margin-left: 20px;
    }
    .elem:nth-child(1) {
        scale: .85;
        right: 45%;
        top: -5%;
    }
    .elem:nth-child(2) {
        border: 1px solid red;
        scale: .75;
    }
}

.client {
    .item {
        height: 150px;
        display: grid;
        place-items: center;
        background-color: #fff;
        img {
            max-width: 130px !important;
            aspect-ratio: 3/2;
        }
    }
    .elem:nth-child(1) {
        top: 20%;
        left: 25%;
        scale: .65;
    }
    .elem:nth-child(2) {
        bottom: 0;
        right: 25%;
        scale: .75;
        rotate: 15deg;
    }
}


.news {
    position: relative;
    img {
        aspect-ratio: 4/3;
    }
    .elem {
        top: 50%;
        right: -5%;
    }
}

.contact {
    button#call {
        color: #fff;
        padding: 10px 65px;
        border-radius: 50px;
        border: none;
        background: linear-gradient(-45deg, #573b99, #69117fcf, #338AFF, #212529);
        background-size: 600%;
        animation: anime 13s linear infinite;
    }
}
@keyframes anime {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

input, textarea {
    width: 100%;
    padding: 10px;
    background-color: #ededed;
}

input:focus, textarea:focus {
    outline: 1px solid #ddd;
}

footer {
    a.link {
        display: inline-block;
        width: 35px;
        height: 35px;
        background-color: transparent;
        color: #1ca1c8;
        border: 1px solid #1ca1c8;
        display: grid;
        place-items: center;
    }
    i.color {
        color: #1ca1c8;
    }
}


@media only screen and (max-width: 600px) {
    .image, .elem {
        display: none;
    }
    .digitech {
        .container {
            div:nth-child(2)::before {
                display: none;
            }
        }
    }
    .about {
        .container-xl {
            div:nth-child(2)::before {
                display: none;
            }
        }
        ol {
            grid-template-columns: 1fr;
        }
    }
    .hero {
        .container-fluid .container .row div:nth-child(2) {
            text-align: center;
        }
        .container-fluid::before {
            display: none;
        }
        h1 {
            font-size: 3rem !important;
            line-height: 1.25 !important;
        }
    }
    .why-us {
        .card {
            aspect-ratio: 3/2;
            div {
                aspect-ratio: 3/2;
            }
        }
    }
    .big-letter {
        display: none;
    }
}
@media (min-width: 601px) and (max-width: 1000px) {
    .about {
        ol {
            grid-template-columns: 1fr;
        }
    }
    .hero {
        .container-fluid .container .row div:nth-child(2) {
            text-align: center;
        }
        .container-fluid::before {
            display: none;
        }
        h1 {
            font-size: 3.5rem !important;
            line-height: 1 !important;
        }
    }
}
